<div class="wrapper">
	<div class="auth__header">
		<h2>Registration</h2>
		<a routerLink="/log-in" class="auth__header__link">Sign in</a>
	</div>
	<form class="auth__form">
		<label for="nickname" class="auth__form__label">
			Username:
		</label>
		<input type="text" id="nickname" class="auth__form__input">

		<label for="email" class="auth__form__label">
			Email:
		</label>
		<input type="mail" id="email" class="auth__form__input">

		<label for="password" class="auth__form__label">
			Password
		</label>
		<input type="password" id="password" class="auth__form__input">

		<button class="auth__form__btn">Login</button>
	</form>
</div>