<div class="wrapper">
	<div class="auth__header">
		<h2>Registration</h2>
		<a routerLink="/log-in" class="auth__header__link">Sign in</a>
	</div>
		<form [formGroup]="user" class="auth__form">
			<div *ngIf="getIsEmailInUse()" class="auth__error">
				<span>This email is already registered!</span>
			</div>

			<!--		<label for="nickname" class="auth__form__label">-->
			<!--			Username:-->
			<!--		</label>-->
			<!--		<input type="text" id="nickname" class="auth__form__input">-->

			<label for="email" class="auth__form__label">
				Email:
			</label>
			<input formControlName="email" autocomplete="email" type="text" id="email" class="auth__form__input">

			<label for="password" class="auth__form__label">
				Password
			</label>
			<input formControlName="password" autocomplete="current-password" type="password" id="password" class="auth__form__input">

			<button (click)="register()" [disabled]="user.invalid" type="button" class="auth__form__btn">Register</button>
		</form>
</div>