@import '../todo.component.css';

.add-todo {
  display: flex;
  flex-direction: column;
}

.form__add-todo {
  padding: 30px 0 10px 0;
}

.form__add-todo__input {
  width: 100%;
  height: 35px;
  margin-right: 15px;
  background: transparent;
  outline: none;
  border-radius: 25px;
  border: 2px solid #000;
  transition: .2s;
}

.form__add-todo__input:hover {
  border: 2px solid #803287;
}

.form__add-todo__input:focus-visible {
  border: 2px solid #803287;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.form__add-todo__input[type=text] {
  font-size: 18px;
  padding-left: 15px;
  color: #c1abc5;
}

.form__add-todo__input[type=text]:focus-visible {
  font-size: 18px;
  color: #803287;
}

.form__add-todo__input::placeholder {
  color: #c1abc5;
  font-size: 14px;
}

.save {
  position: absolute;
  align-self: flex-end;
  bottom: 10px;
}


.save__todo, .undo__save {
  cursor: pointer;
  color: #a64444;
}

.save__todo:hover, .undo__save:hover {
  text-decoration: underline;
}

.save__todo:active {
  color: #803287;
}

.undo__save {
  color: #803287;
  margin-right: 15px;
}

.undo__save:active {
  color: #a64444;
}