@import '../todo.component.css';

.add-todo {
  display: flex;
  flex-direction: column;
}

.form__add-todo {
  display: block;
  padding: 30px 0 10px 0;
}

.form__add-todo__wrapper {
  display: flex;
  justify-content: space-between
}

.save {
  position: absolute;
  align-self: flex-end;
  bottom: 10px;
}


.save__todo, .undo__save {
  cursor: pointer;
  color: #a64444;
}

.save__todo:hover, .undo__save:hover {
  text-decoration: underline;
}

.save__todo:active {
  color: #803287;
}

.undo__save {
  color: #ed4635;
  margin-right: 15px;
}

.undo__save:active {
  color: #a64444;
}

:host /deep/ .form__add-todo .mat-form-field-infix {
  border: 0;
}

:host /deep/ .form__add-todo__wrapper .form__add-todo__input {
  margin: 0;
}

:host /deep/ .form__add-todo .mat-form-field-wrapper .mat-form-field-outline {
  top: 0;
}

