<div class="wrapper">
  <header class="header">
    <span class="header__active-count">4 Active</span>
    <h2 class="header__title">4 Tasks</h2>
    <button class="header__btn">Remove inactive</button>
  </header>
  <main class="main">
      <div class="main__choose-all">
        <input type="checkbox">
        <span class="main__choose-all__text">All</span>
      </div>
      <div class="main__item">
        <div class="main__item__todo">
          <input type="checkbox">
          <span class="main__item__todo__text">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
        </div>
        <button class="main__btn">Delete</button>
      </div>
        <div class="main__item">
          <div class="main__item__todo">
            <input type="checkbox">
            <span class="main__item__todo__text">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
          </div>
          <button class="main__btn">Delete</button>
        </div>
        <div class="main__item">
          <div class="main__item__todo">
            <input type="checkbox" name="" id="">
            <span class="main__item__todo__text">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
          </div>
          <button class="main__btn">Delete</button>
        </div>

  </main>
  <footer class="footer">
      <input type="text" class="footer__input" placeholder="Add Todo..">
      <button class="footer__btn">Add</button>
  </footer>
</div>

