.wrapper {
  width: 600px;
  margin: 15vh auto 30px;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  background: #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 0 30px 10px rgba(26, 26, 26, 0.4);
}

.header, .main__item, .form__add-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}