.wrapper {
  width: 400px;
  margin: 15vh auto 0;
  padding: 30px;
  box-sizing: border-box;
  background: #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 0 30px 10px rgba(26, 26, 26, 0.4);
}

.auth__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #c1abc5;
}

.auth__header-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 30px;
}

.auth__form-field {
  width: 100%;
  padding-bottom: 15px;
}

.auth__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.auth__validation-error {
  position: absolute;
  bottom: 12px;
  left: 15px;
  color: #f44336;
}

.auth__error {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 5px;
  margin: 0 auto;
  color: #873232;
}

:host /deep/ .mat-form-field-infix {
  border: 0;
}

:host /deep/ .auth__form .mat-form-field-wrapper .mat-form-field-outline {
  top: 0;
}
