<main *ngIf="todoList?.length || 0 > 0" class="main">
  <div class="main__choose-all">
    <mat-checkbox
      color="warn"
      (change)="allChecked($event.checked)"
      [indeterminate]="someComplete()"
      [checked]="allComplete"
    >
      All
    </mat-checkbox>
  </div>
  <div
    *ngFor="let item of todoList; index as i; trackBy: trackByFn"
    class="main__item"
  >
    <div class="main__item__todo">
      <mat-checkbox
        color="accent"
        [checked]="item.active"
        (change)="changeCheckbox(i)"
        [ngClass]="{ 'todo__completed-text': item.active }"
        class="main__chb"
      >
        <!--        {{ item.text }}-->
      </mat-checkbox>

    </div>
    <mat-form-field appearance="legacy" class="form__change__todo">
      <input matInput [value]="item.text" [ngClass]="{ 'todo__completed-text': item.active }">
      <button color="primary" mat-icon-button>
        <mat-icon>check</mat-icon>
      </button>
    </mat-form-field>
    <button mat-mini-fab color="accent" (click)="deleteTodo(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</main>
