@import '../todo.component.css';

.main__item__todo__text, .main__choose-all__text {
  padding-left: 7px;
  align-self: center;
}

.main {
  padding-top: 15px;
}

.main__choose-all {
  display: flex;
}

.main__item {
  position: relative;
  padding-top: 15px;
}

.main__chb {
  font-size: 16px;
}

.main__item__todo {
  display: flex;
}

.form__change__todo {
  width: 100%;
  padding: 0 15px;
}

.todo__completed-text {
  color: #c4b1c8;
  text-decoration: line-through;
}

:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
  display: flex;
  padding: 9px 0 6px 0;
}

:host /deep/ input.mat-input-element {
  min-height: 41px;
}