@import '../todo.component.css';

.main__item__todo__text, .main__choose-all__text {
  padding-left: 7px;
  align-self: center;
}

.main {
  padding-top: 15px;
}

.main__choose-all {
  display: flex;
}

.main__item {
  padding-top: 20px;
}

.main__item__todo {
  display: flex
}

.todo__completed-text {
  color: #c4b1c8;
  text-decoration: line-through;
}